/*#region VARS */

/*#endregion */

/*#region GENERAL STYLES */

@font-face {
  font-family: Exan;
  src: url(./assets/fonts/exan.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: Lato, Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

body {
  background: rgb(44, 41, 48);
}

nav li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

input,
select,
option {
  border: 2px solid #186992;
}

select {
  cursor: pointer;
}

button {
  font-size: 1rem;
  padding: 5px;
  cursor: pointer;
}

/*#endregion */

/*#region UTILITY CLASSES */

.container {
  max-width: 1920px;
  display: flex;
  margin: 0 auto;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.hidden {
  display: none;
}

/*#endregion */

/*#region CARD */

.card-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.card {
  width: 50%;
  padding: 0.5rem;
  text-align: center;
  color: #efffef;
  border: 1px solid black;
  border-radius: 15px;
  background: rgb(96, 35, 209);
}

.card i {
  padding: 0.5rem;
  font-size: 2rem;
}

.card p {
}

/*#endregion */

/*#region MAIN HEADER */

#main-header {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid black;
}

.username-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
}

.username-container i {
  padding-right: 10px;
}

/*#endregion */

/*#region TABLE */

table {
  width: 95%;
  margin: 1rem auto;
  border-radius: var(--radius);
  background: linear-gradient(120deg, rgb(71, 3, 71), rgb(30, 30, 148));
}

thead {
  margin: 0 auto;

  border-radius: 10px;
}

tbody {
  border-radius: 10px;
}

tbody tr:nth-child(odd) {
  background: rgba(255, 255, 255, 0.2);
}

tbody tr:nth-child(even) {
  background: rgba(255, 255, 255, 0.3);
}

th {
  color: white;
  text-align: left;
}

th,
td {
  padding: 10px;
}

td:last-child {
  width: 10%;
  padding: 0;
  height: 1.5rem;
}

.rounded {
  --radius: 10px;
  --border-color: black;
  border-collapse: collapse;
  border-spacing: 0;
}

.rounded thead tr:first-child > :first-child {
  border-top-left-radius: var(--radius);
}
.rounded thead tr:first-child > :last-child {
  border-top-right-radius: var(--radius);
}
.rounded tbody tr:last-child > :first-child {
  border-bottom-left-radius: var(--radius);
}
.rounded tbody tr:last-child > :last-child {
  border-bottom-right-radius: var(--radius);
}

.delete-btn {
  width: 50%;
  height: 100%;
  font-size: 1rem;
  padding: 5px 15px;
  cursor: pointer;
  border: none;
}

.delete-btn:hover {
  background: red;
  color: white;
}

.update-btn {
  width: 50%;
  height: 100%;
  font-size: 1rem;
  padding: 5px 15px;
  cursor: pointer;
  border: none;
}

.rounded tbody tr:last-child .update-btn {
  border-bottom-right-radius: var(--radius);
}

.update-btn:hover {
  background: dodgerblue;
  color: white;
}

/*#endregion */

/*#region GENERAL FORM */

.form-control {
  width: 70%;
  margin: 10px auto 2rem;
}

.form-control label {
  width: 50%;
  min-width: 150px;
  margin: 0 auto;
  display: block;
  font-size: 1.2rem;
  color: #efffff;
}

.form-control input,
.form-control select {
  width: 50%;
  min-width: 150px;
  display: block;
  margin: 1rem auto 0;
  padding: 0.5rem 0 0.5rem;
  font-size: 1.2rem;
  color: white;
  border: none;
  border-bottom: 2px solid gray;
  outline: 0px transparent;
  background: transparent;
}

.form-control select {
  appearance: none;
}

.form-control option {
  margin: 0;
  padding: 0;
  color: black;
  background: gray;
  border: none;
}

.submit-btn,
.cancel-btn {
  padding: 0.8rem 2rem;
  font-size: 1rem;
  color: white;
  background: rgb(96, 35, 209);
  border: 1px solid rgb(74, 35, 182);
  border-radius: 10px;
}

.submit-btn:hover,
.cancel-btn:hover {
  background: rgb(132, 39, 185);
  border: 1px solid rgb(127, 37, 179);
}

#create-item-form .form-control:last-child {
  margin-top: 80px;
  width: 30%;
  display: flex;
  justify-content: space-around;
}

/*#endregion */

/*#region HOME */

.greetings {
  background: rgb(119, 18, 201);
}

/*#endregion */

/*#region MAIN NAV */

#main-nav {
  border-right: 1px solid black;
}

#main-nav a {
  color: #efedec;
  text-decoration: none;
}

#main-nav li {
  width: 3rem;
  height: 3rem;
  margin: 0 auto 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

#main-nav li i {
  font-size: 1.5rem;
}

#main-nav li:hover {
  background: rgb(80, 61, 187);
}

#main-nav .logo {
  padding: 10px 3px;
  text-align: center;
  color: #efedec;
  font-family: Exan, Arial, Helvetica, sans-serif;
}

.cart-btn {
  position: relative;
}

.item-counter {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  right: 0.5rem;
  top: 1rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: white;
  background: #2a65d3;
  border: 1px solid rgb(44, 41, 48);
  border-radius: 50%;
}

/*#endregion */

/*#region VIEW */

#view-section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#page-title {
  margin-top: 1rem;
  font-size: 1.2rem;
  text-align: center;
  text-transform: capitalize;
}

#view-section section {
  padding: 1.5rem;
}

.no-data-text {
  margin: 0 auto;
  padding: 2rem 0;
  font-size: 1.3rem;
  text-align: center;
  color: red;
}

/*#endregion */

/*#region STORE */

#store .card {
  max-width: 19%;
  cursor: pointer;
}

#store .card:hover {
  background: green;
}

/*#endregion */

/*#region LOGIN PAGE*/

#login {
  padding: 25px;
}

.login-form-error {
  text-align: center;
  font-size: 1rem;
  color: red;
}

.login-form button {
  display: block;
  margin: 0 auto;
  padding: 0.8rem 2rem;
  font-size: 1rem;
  color: white;
  background: rgb(96, 35, 209);
  border: 1px solid rgb(74, 35, 182);
  border-radius: 10px;
}

.login-form button:hover {
  background: rgb(132, 39, 185);
  border: 1px solid rgb(127, 37, 179);
}

/*#endregion*/

/*#region TABLE CONTROLS */

.table-controls {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.table-controls label,
.table-controls p {
  font-size: 1.1rem;
}

.table-controls select {
  margin: 0 5px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}
.table-controls button {
  margin-left: auto;
}

.create-item-button,
.update-cart-button {
  padding: 0.8rem 2rem;
  font-size: 1rem;
  color: white;
  background: rgb(96, 35, 209);
  border: 1px solid rgb(74, 35, 182);
  border-radius: 10px;
}

.create-item-button:hover,
.update-cart-button:hover {
  background: rgb(132, 39, 185);
  border: 1px solid rgb(127, 37, 179);
}

/*#endregion */

/*#region CART */

.cart-counter {
  width: 2rem;
  font-size: 1rem;
  text-align: center;
}

#cart td:last-child {
  width: 5%;
}

#cart .delete-btn {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  padding: 5px 15px;
  cursor: pointer;
  border: none;
}

.total-text {
  width: 95%;
  margin: 50px auto 0;
  font-size: 1.2rem;
}

.total-text div {
  display: flex;
  justify-content: center;
}

.total-text p:first-child {
  text-align: center;
  grid-column: 3 / 4;
}

.total-text p:last-child {
  margin-left: 3rem;
  grid-column: 3 / 4;
}

.purchase-button {
  margin-top: 75px;
  text-align: center;
}

/*#endregion */

/*#region FOOTER */

footer {
  margin-top: auto;
  font-size: 1.3rem;
  text-align: center;
  border-top: 1px solid black;
}

/*#endregion */
